.idCardFrame {
  --aug-tr: 10px;
  --aug-b-extend1: 50%;
  --aug-border-all: 2px;
  --aug-border-bg: radial-gradient(var(--background-color), var(--color-1)) 100% 100% / 100% 100%;
  --aug-inlay-all: 4px;
  --aug-inlay-bg: radial-gradient(ellipse at top, var(--color-2), transparent)  50% 50% / 100% 100%;
  --aug-inlay-opacity: 0.5;
  padding: 4px;

}

.idCard {
  --aug-tr: 10px;
  --aug-b-extend1: 50%;
  --aug-border-all: 4px;
  --aug-border-bg: radial-gradient(#fff,  var(--color-3)) 100% 100% / 100% 100%;
  --aug-inlay-all: 4px;
  --aug-inlay-bg: radial-gradient(ellipse at top, rgba(0,0,0,0.5), #000)  50% 50% / 100% 100%;
  --aug-inlay-opacity: 0.75;
}

.idCardPictureFrame {
  --aug-tr: 10px;
  --aug-b-extend1: 50%;
  --aug-border-all: 2px;
  --aug-border-bg: radial-gradient(#fff, #fff) 100% 100% / 100% 100%;
  --aug-inlay-all: 2px;
  --aug-inlay-bg: radial-gradient(ellipse at top, var(--color-1), var(--color-2))  50% 50% / 100% 100%;
  --aug-inlay-opacity: 0.75;
  margin: 0 5px;
}

.idCardFlavorText {
  --aug-tr: 10px;
  --aug-b-extend1: 50%;
  --aug-border-all: 1px;
  --aug-border-bg: radial-gradient(var(--background-color), var(--color-1)) 50% 0% / 100% 100%;
  --aug-inlay-all: 1px;
  --aug-inlay-bg: radial-gradient(ellipse at top, var(--color-1), var(--color-2))  50% 50% / 100% 100%;
  --aug-inlay-opacity: 0.75;
  margin: 0 5px;
}
