.form {
    background: transparent;
    width: 100%;
    min-width: 400px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 100;
    filter: drop-shadow(0px 0px 6px var(--form-color-0));
}
.content {
    padding: 0 16px 10px;
    filter: none;
    min-height: 30vh;
}
.form .pitchMixinPane {
    --aug-tr: 25px;
    --aug-b-extend1: 50%;
    --aug-border-all: 1px;
    --aug-border-bg: radial-gradient(var(--form-color-0), var(--form-color-1)) 100% 100% / 100% 100%;
    --aug-inlay-all: 4px;
    --aug-inlay-bg: radial-gradient(ellipse at top, var(--form-color-1), transparent)  50% 50% / 100% 100%;
    --aug-inlay-opacity: 0.5;
}

.title {
    height: 40px;
    margin: 0 6px;
    filter: drop-shadow(0px 0px 15px #fff);
    border-bottom: 1px solid var(--form-color-1);
}
.title h2 {
    margin: 0;
    padding:0;
    color: #fff;
    text-indent: 20px;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.25em;
}

.legaleeze {
    color: #fff;
    text-align: center;
}

.legaleeze span {
    font-weight: 500;
    cursor: pointer;
    color: var(--form-color-1);
}

.inputs {
    padding: 20px 10px 40px;
}

.inputContainer {
    margin: 20px;
    padding: 5px 16px;
    border-radius: 10px 0px;
    line-height: 4vh;
    background-color: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(rgb(122, 4, 235) 0px 0px 8px);
    --aug-tr: 5px;
    --aug-b-extend1: 20%;
    --aug-border-all: 1px;
    --aug-border-bg: radial-gradient(var(--form-color-0),  rgb(122, 4, 235);) 100% 100% / 100% 100%;
    --aug-inlay-all: 4px;
    --aug-inlay-bg: radial-gradient(ellipse at top, var(--form-color-1), transparent)  50% 50% / 100% 100%;
    --aug-inlay-opacity: 0.25;
}

.textContainer {
    margin: 20px;
    padding: 5px 16px;
    border-radius: 10px 0px;
    line-height: 4vh;
    font-size: 24px;
    color: var(--form-color-3);
    font-weight: 100;
    letter-spacing: 0.25em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    filter: drop-shadow(rgb(122, 4, 235) 0px 0px 8px);
    --aug-tr: 5px;
    --aug-b-extend1: 20%;
    --aug-border-all: 1px;
    --aug-border-bg: radial-gradient(var(--form-color-0),  rgb(122, 4, 235);) 100% 100% / 100% 100%;
    --aug-inlay-all: 4px;
    --aug-inlay-bg: radial-gradient(ellipse at top, var(--form-color-3), transparent)  50% 50% / 100% 100%;
    --aug-inlay-opacity: 0.25;
}

.submitContainer {
    margin: 20px 30px;
    border-radius: 10px 0px;
    line-height: 4vh;
    background-color: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(rgb(122, 4, 235) 0px 0px 8px);
    --aug-tr: 5px;
    --aug-tl: 5px;
    --aug-bl: 5px;
    --aug-br: 5px;
    --aug-b-extend1: 10%;
    --aug-border-all: 1px;
    --aug-border-bg: radial-gradient(var(--form-color-0),  var(--form-color-1)) 100% 100% / 100% 100%;
    --aug-inlay-all: 4px;
    --aug-inlay-bg: radial-gradient(ellipse at top, var(--form-color-1), transparent)  50% 50% / 100% 100%;
    --aug-inlay-opacity: 0.25;
}

@media (max-width: 600px) {
    .inputContainer {
       margin: 16px 0;
    }
}

@media (max-width: 400px) {
    .form {
        min-width: 100%;
        overflow: auto;
    }
}