.dateLine {
    padding: 2px 20px 2px 5px;
    --aug-inlay-all: 4px;
    --aug-inlay-bg: radial-gradient(ellipse at top, var(--color-2), rgba(122, 4, 235, 0))  50% 50% / 100% 100%;
    --aug-border-all: 1px;
    --aug-border-bg: radial-gradient(var(--color-2), var(--color-2)) 100% 100% / 100% 100%;
}
.transactionLine {
    padding: 10px;
    --aug-inlay-all: 4px;
    --aug-inlay-bg: radial-gradient(ellipse at bottom, var(--color-3), rgba(122, 4, 235, 0))  50% 50% / 100% 100%;
    --aug-border-all: 1px;
    --aug-border-bg: radial-gradient(var(--color-3), var(--color-4)) 100% 100% / 100% 100%;
}
.systemLine {
    padding: 10px;
    color: var(--color-3);
    --aug-inlay-all: 4px;
    --aug-inlay-bg: radial-gradient(ellipse at bottom, var(--color-2), rgba(122, 4, 235, 0))  50% 50% / 100% 100%;
}
.nameLine {
    padding: 6px;
    --aug-tr: 5px;
    --aug-inlay-all: 4px;
    --aug-inlay-bg: radial-gradient(ellipse at bottom, var(--color-0), rgba(122, 4, 235, 0))  50% 50% / 100% 100%;
    --aug-border-all: 1px;
    --aug-border-bg: radial-gradient(var(--color-1), var(--color-2)) 100% 100% / 100% 100%;
}

.dateText {
    font-family: 'Jura';
    opacity: 0.8;
    font-size: 12px;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    filter: drop-shadow(#fff 0 0 5px);
}

.dateText span {
    opacity: 0.35;
    letter-spacing: inherit;
    font-weight: 300;
    filter: drop-shadow(var(--color-2) 0 0 2px);
}
.idText {
    font-family: 'Jura';
    opacity: 0.6;
    font-size: 16px;
    line-height: 0.5rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
    color: var(--color-1);
    filter: drop-shadow(#fff 0 0 5px);
}

.userText {
    font-family: 'Jura';
    text-indent: 2vh;
    opacity: 0.8;
    font-size: 16px;
    letter-spacing: 0.1rem;
    font-weight: 700;
    line-height: 16px;
    white-space: nowrap;
    filter: drop-shadow(#fff 0 0 5px);
}

.directionText {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    white-space: nowrap;
    filter: drop-shadow(var(--color-2) 0 0 4px);
}

.gain {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--success-color);
    white-space: nowrap;
    font-family: 'Jura';
    filter: drop-shadow(var(--color-2) 0 0 5px);
}
.loss {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--warning-color);
    white-space: nowrap;
    font-family: 'Jura';
    filter: drop-shadow(#000 1px 1px 5px);
}

.name {
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    .idText {
        font-size: 0.75rem;
        line-height: 0;
        font-size: 10px;
    }
    .userText {
        line-height: 16px;
        font-size: 16px;
        text-indent: 4px;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .directionText {
        font-size: 1.5rem;
        letter-spacing: -0.125rem;
    }
    .gain {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .loss {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .dateText, .idSmallText {
        line-height: 14px;
        font-size: 10px;
    }
    .dateText span {
        opacity: 0.75;
    }
}