:root {
    --form-color-0: #ff00a0;
    --form-color-1: #fe75fe;
    --form-color-2: #7a04eb;
    --form-color-3: #42c6ff;
    --background-color:#120458;
    --text-color: #fff;
    --error-color: #ff124f;
    --info-color: #00b8ff;
    --warning-color: #f96363;
    --success-color: #00ff9f;
}